<!-- 管理者のヘッダーテンプレート -->
<nav class="navbar navbar-fixed-top navbar-default">
      <div class="container">
          <%= link_to "ABARANTI DISK", items_path, class: "navbar-brand" %>
          <nav>
            <ul class="nav navbar-nav navbar-left">
                <li><%= link_to "管理者マイページ", user_path(current_user.id) %></li>
                <!-- 検索機能 -->
                <div class="navbar-form navbar-left">
                  <%= search_form_for @q do |f|  %>
                      <%= f.text_field :cd_name_cont, placeholder: "検索キーワード", class: "form-control"%>
                    <%= f.submit "検索", class: "btn btn-default"%>
                  <% end %>
                </div>
          </nav>
          <nav class="nav navbar-nav navbar-right">
                <li>
                  <a data-target="#" data-toggle="dropdown" aria-expanded="false">
                    一覧
                    <span class="caret"></span>
                  </a>
                  <ul class="dropdown-menu">
                    <li><%= link_to "商品一覧", items_path %></li>
                    <li><%= link_to " ユーザー一覧", users_path %></li>
                    <li><%= link_to " お問い合わせ一覧", contacts_path %></li>
                    <li><%= link_to "購入履歴一覧", user_orders_path(current_user.id) %></li>
                  </ul>
                </li>
                <li>
                  <a data-target="#" data-toggle="dropdown" aria-expanded="false">
                    新規登録
                    <span class="caret"></span>
                  </a>
                  <ul class="dropdown-menu">
                    <li><%= link_to "商品", new_item_path %></li>
                    <li><%= link_to "レーベル", new_label_path %></li>
                    <li><%= link_to "ジャンル", new_genre_path %></li>
                    <li><%= link_to "アーティスト", new_artist_path %></li>
                  </ul>
                </li>
                <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
          </nav>
      </div>
</nav>
<!-- ヘッダーの高さ調整用div -->
<div class="header-space"></div>
<!-- フラッシュメッセージの表示 -->
    <div class="container">
      <div class="row">
        <% if flash[:notice] %>
          <div id="notice">
            <%= flash[:notice] %>
          </div>
        <% end %>
      </div>
    </div>