<!-- ユーザーのヘッダーテンプレート -->

<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbarEexample1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">ABARANTI DISK</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-left">
        <li><%= link_to " マイページ", user_path(current_user.id), class: "glyphicon glyphicon-home" %></li>
        <li><%= link_to " 商品一覧", items_path, class: "glyphicon glyphicon-record" %></li>
        <li><%= link_to " カートを見る", "#", class: "glyphicon glyphicon-shopping-cart" %></li>
      </ul>
      <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="検索キーワード">
        </div>
        <button type="submit" class="btn btn-default">検索</button>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in?%>
          <li class="slidemenu-link">
            <%= link_to " logout", destroy_user_session_path, method: :delete, class: "glyphicon glyphicon-log-out logout" %>
          </li>
        <% else %>
          <li class="slidemenu-link">
            <%= link_to " sign up", new_user_registration_path, class: "glyphicon glyphicon-edit sign_up" %>
          </li>
          <li class="slidemenu-link">
            <%= link_to " login", new_user_session_path, class: "glyphicon glyphicon-log-in sign_in" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>