<div class="background-record from-top">

    <div class="sign-up-box clearfix">
        <div class="sign-up-left">
            <h2 class="sign-up-left-title">ABARANTI DISK</h2>
            <h3 class="sign-up-left-login"><%= link_to "Log in", new_user_session_path, class: "sing-up-link" %></h3>
            <h4 class="sign-up-left-item"><%= link_to "会員登録せずに始める", items_path, class: "sing-up-link" %></h4>
        </div>
        <div class="sign-up-right clearfix">
          <h2>Sign up</h2>
          <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
            <%= render "devise/shared/error_messages", resource: resource %>
            <div class="form-inputs">

              <label>名前</label>
              <div class="field">
                  <%= f.text_field :last_name, autofocus: true, placeholder: '性', class: "name-input" %>
                  <%= f.text_field :first_name, autofocus: true, placeholder: '名', class: "name-input"  %>
              </div>
              <div class="field">
                  <%= f.text_field :last_name_kana, autofocus: true, placeholder: '性（ふりがな）', class: "name-input" %>
                  <%= f.text_field :first_name_kana, autofocus: true, placeholder: '名（ふりがな）', class: "name-input" %>

              </div>

              <label>メールアドレス</label>
              <div class="field">
                <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: 'Email', class: "max-width-input" %>
              </div>

              <label>電話番号</label>
              <div class="field">
                  <%= f.text_field :phone_number, autofocus: true, class: "max-width-input" %>
              </div>

              <div class="field">
                <%= f.label :password %>
                <% if @minimum_password_length %>
                <em>（<%= @minimum_password_length %> 文字以上）</em>
                <% end %><br />
                <%= f.password_field :password, autocomplete: "new-password", class: "password max-width-input" %>
              </div>
              <div class="field">
                <label>Password</label><em>（確認）</em><br/>
                <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "password_confirm max-width-input" %>
              </div>
            </div>
            <div class="form-actions">
              <%= f.button :submit, "Sign up", class: "button-right btn btn-default" %>
            </div>
          <% end %>

        </div>
    </div>

</div>

<script>
      // 一旦hide()で隠してフェードインさせる
     $('.sign-up-box').hide().fadeIn(3000);
</script>
