<!-- ヘッダー -->
<% if user_signed_in? && current_user.admin %>
    <%= render 'template/admin_header' %>
<% elsif user_signed_in? %>
    <%= render 'template/user_header' %>
<% else %>
    <%= render 'template/visiter_header' %>
<% end %>

<div class="container">
	<div class="row">
		<h1>ユーザー情報の編集</h1>
		<div class="col-xs-6 col-xs-offset-3">

			<%= form_for(@user) do |f| %>
			<label>名前</label>
			<div class="field">
	         	<%= f.text_field :last_name, autofocus: true, class: "name-input" %>

	         	<%= f.text_field :first_name, autofocus: true, class: "name-input" %>

	         	<%= f.text_field :last_name_kana, autofocus: true, class: "name-input" %>

	         	<%= f.text_field :first_name_kana, autofocus: true, class: "name-input" %>
			</div>
			<label>電話番号</label>
			<div class="field">

	         	<%= f.text_field :phone_number, autofocus: true, class: "max-width-input" %>
			</div>
			<label>メールアドレス</label>
			<div class="field">
            	<%= f.email_field :email, autofocus: true, autocomplete: "email", class: "max-width-input" %>
         	</div>

			<%= f.submit "ユーザー情報を更新する", class: "button-right btn btn-default" %>
			<%= link_to "マイページに戻る", user_path(@user.id), class: "button-left btn btn-default" %>
		    <% end %>

		</div>
	</div>
</div>

<!-- フッター -->
<%= render 'template/footer' %>