<!-- ヘッダー -->
<% if user_signed_in? && current_user.admin %>
    <%= render 'template/admin_header' %>
<% else %>
    <%= render 'template/header' %>
<% end %>

<div class="container">
	<div class="row">
		<h1>マイページ</h1>
		<div class="col-xs-7">
			<div class="clearfix">
				<table class="table">
					<h3>ユーザー情報</h3>
					<thead>
						<tr>
							<th><label>ユーザー名</label></th>
							<th><%= @user.last_name %><%= @user.first_name %></th>
						</tr>
						<tr>
							<th><label>電話番号</label></th>
							<th><%= @user.phone_number %></th>
						</tr>
						<tr>
							<th><label>メールアドレス</label></th>
							<th><%= @user.email %></th>
						</tr>

					</thead>
				</table>
				<%= link_to "編集する", edit_user_path(@user.id), class: "button-right btn btn-default" %>
			</div>
			<div class="clearfix">
				<h3>お届け先</h3>
				<table class="table">
					<caption>自宅</caption>
					<thead>
						<tr>
							<th><label>郵便番号</label></th>
							<th><label>住所</label></th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td><%= @user.postcode %></td>
							<td><%= @user.prefecture %><%= @user.city %><%= @user.block %><%= @user.building %></td>
							<td><%= link_to "編集する", edit_address_path(@user.id), class: "btn btn-default" %></td>
						</tr>
					</tbody>
				</table>

				<table class="table">
					<caption>別のお届け先</caption>
					<thead>
						<tr>
							<th>お届け先名</th>
							<th><label>郵便番号</label></th>
							<th><label>住所</label></th>
							<th colspan="2"></th>
						</tr>
					</thead>
					<tbody>
						<% @user.another_addresses.each do |another_address| %>
							<tr>
								<td><%= another_address.address_name %></td>
								<td><%= another_address.another_postcode %></td>
								<td><%= another_address.another_prefecture %><%= another_address.another_city %><%= another_address.another_block %><%= another_address.another_building %></td>
								<td><%= link_to "編集", edit_user_another_address_path(@user.id, another_address.id)%></td>
								<td><%= link_to "削除", user_another_address_path(@user.id, another_address.id), method: :delete, "data-confirm" => "本当に消しますか?", class: "btn-sm btn-danger" %></td>
							</tr>
						<% end %>
					</tbody>
				</table>
				<%= link_to "新しい住所を登録する", new_user_another_address_path(@user.id), class: "button-right btn btn-default" %>
			</div>
		</div>
		<div class="col-xs-5">
			<div class="clearfix">
				<table class="table">
					<h3>購入履歴</h3>
					<thead>
						<tr>
							<th><label>購入日時</label></th>
							<th>購入日時</th>
						</tr>
						<tr>
							<th><label>購入商品</label></th>
							<th>購入商品</th>
						</tr>
					</thead>
				</table>
				<%= link_to "もっと見る", "#", class: "button-right btn btn-default" %>
			</div>
			<div class="clearfix">
				<table class="table">
					<h3>いいね一覧</h3>
					<thead>
						<tr>
							<th><label>商品名</label></th>
							<th>商品名</th>
						</tr>
						<tr>
							<th><label>アーティスト名</label></th>
							<th>アーティスト名</th>
						</tr>

					</thead>
				</table>
				<%= link_to "もっと見る", "#", class: "button-right btn btn-default" %>
			</div>
			<div>
				<% if @user.deleted_at == nil %>
				<!-- @userが論理削除されていない場合 -->
					<h3>退会する</h3>
					<%= link_to "退会する", user_path(current_user.id), method: :delete, "data-confirm" => "本当に退会しますか?", class: "btn-sm btn-danger" %>
				<% else %>
				<!-- @userが論理削除されている場合 -->
					<p>＊このユーザーは退会処理済みです。</p>
				<% end %>
			</div>

		</div>
	</div>
</div>