<!-- ヘッダー -->
<% if user_signed_in? && current_user.admin %>
    <%= render 'template/admin_header' %>
<% elsif user_signed_in? %>
    <%= render 'template/user_header' %>
<% else %>
    <%= render 'template/visiter_header' %>
<% end %>

<div class="container">
	<div class="row">
		<h1><%= @user.last_name %><%= @user.first_name %>様のマイページ</h1>
		<div class="col-xs-7">
			<div class="clearfix">
				<table class="table">
					<h3>ユーザー情報</h3>
					<thead>
						<tr>
							<th><label>ユーザー名</label></th>
							<th><%= @user.last_name %><%= @user.first_name %></th>
						</tr>
						<tr>
							<th><label>電話番号</label></th>
							<th><%= @user.phone_number %></th>
						</tr>
						<tr>
							<th><label>メールアドレス</label></th>
							<th><%= @user.email %></th>
						</tr>

					</thead>
				</table>
				<%= link_to "編集する", edit_user_path(@user.id), class: "button-right btn btn-default" %>
			</div>
			<div class="clearfix">
				<table class="table">
					<caption>お届け先</caption>
					<thead>
						<tr>
							<th><label>お届け先名</label></th>
							<th><label>郵便番号</label></th>
							<th><label>住所</label></th>
							<th colspan="2"></th>
						</tr>
					</thead>
					<tbody>
						<% @user.addresses.each do |address| %>
							<tr>
								<td><%= address.address_name %></td>
								<td><%= address.postcode %></td>
								<td><%= address.prefecture %><%= address.city %><%= address.block %><%= address.building %></td>
								<td><%= link_to "編集", edit_user_address_path(@user.id, address.id)%></td>
								<td><%= link_to "削除", user_address_path(@user.id, address.id), method: :delete, "data-confirm" => "本当に消しますか?", class: "btn-sm btn-danger" %></td>
							</tr>
						<% end %>
					</tbody>
				</table>
				<%= link_to "新しい住所を登録する", new_user_address_path(@user.id), class: "button-right btn btn-default" %>
			</div>
		</div>
		<div class="col-xs-5">
			<div class="clearfix">
				<table class="table">
					<h3>購入履歴</h3>
					<thead>
							<tr>
								<th>購入日</th>
								<th>送付先</th>
							</tr>
					</thead>
					<tbody>
						<% @orders.each do |order| %>
							<tr>
								<td><%= order.created_at.strftime("%Y年%m月%d日 %H:%M") %></td>
								<td><%= order.address.address_name %></td>
							</tr>
						<% end %>
					</tbody>
				</table>
				<%= link_to "もっと見る", user_orders_path(current_user.id), class: "button-right btn btn-default" %>
			</div>
			<div class="clearfix">
				<table class="table">
					<h3>いいねした商品</h3>
					<thead>
							<tr>
								<th>CD</th>
								<th>アーティスト</th>
							</tr>
					</thead>
					<tbody>
						<% @favorites.each do |favorite| %>
							<tr>
								<td><%= favorite.item.cd_name %></td>
								<td><%= favorite.item.artist.artist %></td>
							</tr>
						<% end %>
					</tbody>
				</table>
				<%= link_to "もっと見る", user_favorites_path(current_user.id), class: "button-right btn btn-default" %>
			</div>
			<div>
				<% if @user.admin == false && @user.deleted_at == nil %>
				<!-- @userが論理削除されていない場合 -->
					<%= link_to "退会する", user_path(current_user.id), method: :delete, "data-confirm" => "本当に退会しますか?", class: "btn-sm btn-danger button-right" %>
				<% elsif @user.admin == false %>
				<!-- @userが論理削除されている場合 -->
					<p>＊このユーザーは退会処理済みです。</p>
				<% else %>
					<P>＊このユーザーは管理者です。</P>
				<% end %>
			</div>

		</div>
	</div>
</div>

<!-- フッター -->
<%= render 'template/footer' %>