<!-- ヘッダー -->
<% if user_signed_in? && current_user.admin %>
    <%= render 'template/admin_header' %>
<% elsif user_signed_in? %>
    <%= render 'template/user_header' %>
<% else %>
    <%= render 'template/visiter_header' %>
<% end %>
<!-- 購入履歴詳細確認画面 -->
<div class="container">
    <h1><%= @order.created_at %>の購入履歴</h1>
    <table class="table">
        <thead>
            <tr>
                <th></th>

            </tr>
        </thead>
        <tbody>
            <% @order.order_items.each do |order_item| %>
                <tr>
                    <td><%= attachment_image_tag order_item.item, :jacket_image, format: 'jpeg', fallback: "no_image.jpg", size:'50x50'%></td>
                    <td><%= order_item.item.genre.genre %></td>
                    <td><%= order_item.item.artist.artist %></td>
                    <td><%= order_item.item.label.label %></td>
                    <td><%= order_item.item.price %></td>
                    <td><%= order_item.order_quantity %></td>
                    <td><%= order_item.item.price * order_item.order_quantity %></td>
                </tr>
            <% end %>
        </tbody>
    </table>
    <h1>合計金額：</h1>
    <%= link_to "購入履歴一覧ページに戻る", user_orders_path(current_user.id), class: "btn btn-default button-left" %>
</div>
<!-- フッター -->
<%= render 'template/footer' %>