<!-- ヘッダー -->
<% if user_signed_in? && current_user.admin %>
    <%= render 'template/admin_header' %>
<% else %>
    <%= render 'template/header' %>
<% end %>

送り先を選ぶ

<%= form_for @cart, url:"/check_cart/#{@cart.id}" do |f| %>
<br>
<label><%= f.radio_button :shopping_address, "実家" %>実家</label>
<label><%= f.radio_button :shopping_address, "別住所" %>登録した住所</label>
<label><%= f.radio_button :shopping_address, "新住所" %>新しい住所に送る</label>

<br>
支払い方法を選ぶ
<br>
<label><%= f.radio_button :payment, "代金引換"%>代金引換</label>
<label><%= f.radio_button :payment, "クレジットカード"%>クレジットカード</label>
<label><%= f.radio_button :payment, "銀行振込"%>銀行振込</label>
<br>
この内容で購入する（確認画面へ）

<<<<<<< HEAD
<%= f.submit%>

<% end %>
=======
<%= link_to "確認画面へ",  "/carts/#{@cart.id}" %>

<!-- フッター -->
<%= render 'template/footer' %>
>>>>>>> master
