<h1>CART の中身</h1>


<table>
<% @cart_items.each do |f| %>
    <tr>
    <%= f.quantity %>
    </tr>
    <tr>
    <%= f.item.price %>
    </tr>
    <%= f.item.genre.genre %>
    <%= f.item.artist.artist %>
    <%= f.item.label.label %>
    <br>
<% end %>



<h2>購入画面へ</h2>
    <%= link_to "購入画面へ", "/form_cart/#{@cart.id}" %>

</table>