


<div class="sign-up-box clearfix">
    <div class="sign-up-left">
        <h2 class="sign-up-left-title">ABARANTI DISK</h1>
        <h3 class="sign-up-left-login"><%= link_to "Sign up", new_user_registration_path %></h1>
        <h4 class="sign-up-left-item"><%= link_to "会員登録せずに始める", items_path %></h1>
    </div>
    <div class="sign-up-right clearfix">
        <h2>Log in</h2>
        <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="form-inputs">

            <label>Email</label>
            <div class="field">
            <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: 'Email', class: "max-width-input" %>
            </div>

            <div class="field">
            <%= f.input :password,
                        required: false,
                        input_html: { autocomplete: "current-password" } %>
            <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
            </div>
          </div>

          <div class="form-actions">
            <%= f.button :submit, "Log in", class: "sign-up-button btn btn-default" %>
          </div>
        <% end %>

        <%= render "devise/shared/links" %>


    </div>
</div>
