<!-- ヘッダー -->
<% if user_signed_in? && current_user.admin %>
    <%= render 'template/admin_header' %>
<% elsif user_signed_in? %>
    <%= render 'template/user_header' %>
<% else %>
    <%= render 'template/visiter_header' %>
<% end %>
<!-- カート内確認画面 -->
<div class="container clearfix">
    <h1><%= @user.last_name %><%= @user.first_name %>さんのCART</h1>
    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th>ジャンル</th>
                <th>アーティスト</th>
                <th>レーベル</th>
                <th>単価</th>
                <th>数量</th>
                <th>小計</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <% if @user.cart_items.any? %>
                <% @user.cart_items.each do |cart_item| %>
                    <tr>
                        <td><%= attachment_image_tag cart_item.item, :jacket_image, format: 'jpeg', fallback: "/images/no_image.jpg", size:'50x50'%></td>
                        <td><%= cart_item.item.genre.genre %></td>
                        <td><%= cart_item.item.artist.artist %></td>
                        <td><%= cart_item.item.label.label %></td>
                        <td><%= cart_item.item.price %></td>
                        <td><%= cart_item.quantity %></td>
                        <td><%= cart_item.item.price * cart_item.quantity %></td>
                        <td><%= link_to "カートから削除", "/items/#{cart_item.item.id}/cart_items/#{cart_item.id}", method: :delete, class: "btn btn-danger" %></td>
                    </tr>
                <% end %>
            <% else %>
            <tr>
                <td>カートにはまだ何も入っていません。</td>
            </tr>
            <% end %>
        </tbody>
    </table>
    <div class="clearfix">
        <h3 class="tatal-price">カート合計金額：<%= @total_price %> 円</h3>
    </div>
    <%= link_to "商品一覧に戻る", items_path, class: "btn btn-default button-left" %>
    <%= link_to "購入画面へ進む", order_form_path(current_user.id), class: "btn btn-default button-right" %>
</div>
<!-- フッター -->
<%= render 'template/footer' %>