

<p>ディスク</p>
  <%= f.text_field :number %>
  <%= link_to_remove_association "削除", f %>

    songを追加する。。。
  <div style="background-color:#EDF7FF;" class="songs" >
     <%= f.fields_for :songs do |song| %>
         <%= render 'song_fields', f:song %>
     <% end %>
     <div class="link">
         <%= link_to_add_association 'song追加', f, :songs %>
     </div>
 </div>


