<!-- ヘッダー -->
<% if user_signed_in? && current_user.admin %>
    <%= render 'template/admin_header' %>
<% else %>
    <%= render 'template/header' %>
<% end %>

<div class="container big-box">
    <div class="row">
        <div class="col-xl-2 col-xs-2">
            <%= render 'items/item' %>
        </div>
        <div class="col-xl-4 col-xs-4">
            <%= attachment_image_tag @item, :jacket_image, :fill, 400, 400, format: 'jpeg', fallback: "no_image.jpg", size:'400x400' %>
            <%= simple_form_for(@item) do |f| %>
            <%= f.attachment_field :jacket_image %>
            価格<%= f.input :price %>
            在庫数<%= f.input :stock %>
            ジャンル<%= f.collection_select  :genre_id,  Genre.all, :id, :genre %>
            レーベル<%= f.collection_select  :label_id,  Label.all, :id, :label %>
            <% end %>
        </div>
        <div class="col-xl-1 col-xs-1"></div>
        <div class="col-xl-5 col-xs-5">
            <%= simple_form_for(@item) do |f| %>
            タイトル<%= f.input :cd_name %>
            アーティスト<%= f.collection_select  :artist_id,  Artist.all, :id, :artist %>
            ディスクを追加する。。。<div style="background-color:#EDF700;"class="discs">
            <%= f.fields_for :discs do |disc| %>
            <%= render 'disc_fields', f:disc %>
        <% end %>
    <div class="link">
        <%= link_to_add_association 'ディスク追加', f, :discs %>
    </div>
    </div>
    <%= f.submit %>

<% end %>
        </div>
    </div>
</div>