<!-- ヘッダー -->
<% if user_signed_in? && current_user.admin %>
    <%= render 'template/admin_header' %>
<% else %>
    <%= render 'template/header' %>
<% end %>


<div class="container big-box">
    <div class="row">
        <div class="col-lg-2 col-xs-12">
            <% @discs.each do |dis| %>
            [<%= dis.number %>]
            (<%= dis.item_id %>)
            <br>
            <% end %>

             <% @songs.each do |song| %>
            [<%= song.song %>]
            (<%= song.disc_id %>)
            <br>
            <% end %>
           <%= render 'items/item' %>
        </div>

        <div class="col-lg-10 col-xs-12">
            <% @items.each do |item| %>
            <div class="item-box">

                <div class="item img-rounded img-responsive">
                    <%= attachment_image_tag item, :jacket_image, :fill, 200, 200, format: 'jpeg', fallback: "no_image.jpg", size:'200x200', class: "img-rounded img-responsive img-thumbnail" %>
                </div>
                    <br>
                <div class="row">
                    <div class="col-lg-4 col-xs-4"></div>
                    <div class="label label-default col-lg-4 col-xs-4">
                        <%= item.genre.genre %>
                    </div>
                    <div class="col-lg-4 col-xs-4"></div>
                </div>

                <div class="item">
                    <%= item.cd_name %>
                    <span>【<%= item.artist.artist %>】</span>
                </div>

                <div class="item">
                    <span>価格|</span>
                    <%= item.price %>
                </div>

                <div class="item">
                    <span>在庫数|</span>
                    <%= item.stock %>
                </div>

                <div class="item">
                    <%= link_to "詳細を見る", item , class: "btn btn-default btn-xs" %>
                </div>
            </div>
            <% end %>
        </div>
    </div>
    <div class="item">
        <%= will_paginate @items, :previous_label => ' &lt 前へ', :next_label => '次へ &gt' %>
    </div>
</div>

<!-- フッター -->
<%= render 'template/footer' %>
