<!-- ヘッダー -->
<% if user_signed_in? && current_user.admin %>
    <%= render 'template/admin_header' %>
<% elsif user_signed_in? %>
    <%= render 'template/user_header' %>
<% else %>
    <%= render 'template/visiter_header' %>
<% end %>

<div class="container">
    <div class="row">
        <div class="col-lg-2 col-xs-12">
           <%= render 'items/item' %>
        </div>

        <div class="col-lg-10 col-xs-12">
            <% @items.each do |item| %>
                <div class="item-box">

                    <div class="item img-rounded img-responsive">
                        <%= attachment_image_tag item, :jacket_image, format: 'jpeg', fallback: "no_image.jpg", size:'200x200', class: "img-rounded img-responsive img-thumbnail" %>
                    </div>
                        <br>
                    <div class="row">
                        <div class="col-lg-4 col-xs-4"></div>
                        <div class="label label-default col-lg-4 col-xs-4">
                            <%= item.genre.genre %>
                        </div>
                        <div class="col-lg-4 col-xs-4"></div>
                    </div>

                    <div class="item">
                        <%= item.cd_name %>
                        <span>【<%= item.artist.artist %>】</span>
                        <!-- いいね機能 -->
                        <% if user_signed_in? && item.favorited_by?(current_user) %>
                            <%= link_to destroy_index_path(item.id), method: :delete do %>
                              <span class="glyphicon glyphicon-heart" aria-hidden="true" style="color: red;"></span>
                            <% end %>
                        <% elsif user_signed_in? %>
                            <%= link_to create_index_path(item.id), method: :post do %>
                              <span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span>
                            <% end %>
                        <% end %>
                    </div>

                    <div class="item">
                        <span>価格(税込)|</span>
                        ¥<%= (item.price * 1.08).ceil %>
                    </div>

                    <div class="item">
                        <span>在庫数|</span>
                        <% if item.stock > 0 %>
                            <span class="item">取扱中</span>
                        <% else %>
                            <span class="item">取扱なし</span>
                        <% end %>
                    </div>

                    <div class="item">
                        <%= link_to "詳細を見る", item , class: "btn btn-default btn-xs" %>
                    </div>
                </div>
            <% end %>
        </div>
    </div>
    <div class="item">
        <%= will_paginate @items, :previous_label => ' &lt 前へ', :next_label => '次へ &gt' %>
    </div>
</div>

<!-- フッター -->
<%= render 'template/footer' %>
