NEW ITEMS

<%= simple_form_for(@item) do |f| %>
    cd_name
    <%= f.input :cd_name %>
    price
    <%= f.input :price %>
    stock
    <%= f.input :stock %>
    genre
    <%= f.collection_select  :genre_id,  Genre.all, :id, :genre %>
    artist
    <%= f.collection_select  :artist_id,  Artist.all, :id, :artist %>
    label
    <%= f.collection_select  :label_id,  Label.all, :id, :label %>
    jacket
    <%= f.attachment_field :jacket_image %>

 ディスクを追加する。。。
 <div class="discs">
    <%= f.fields_for :discs do |disc| %>
        <%= render 'disc_fields', f:disc %>
    <% end %>
    <div class="link">
        <%= link_to_add_association 'ディスク追加', f, :discs %>
    </div>
    </div>
    <%= f.submit %>

<% end %>