ITEM SHOW
<table>
<thead>
        <tr>
  
            <th width="100px">cdname</th>
            <th width="100px">stock</th>
            <th width="100px">price</th>
            <th width="100px">genre</th>
            <th width="100px">artist</th>
            <th width="100px">label</th>
        </tr>
    </thead>
    <tbody>

        <tr>
        <td>
		<%= attachment_image_tag(@item, :jacket_image, :fill, 100, 100) %>
        </td>
        <td>
            <%= @item.cd_name %>
        </td>
        <td>
            <%= @item.stock %>
        </td>
        <td>
            <%= @item.price %>
        </td>
        <td>
            <%= @item.genre.genre %>
        </td>
        <td>
            <%= @item.artist.artist %>
        </td>
        <td>
            <%= @item.label.label %>
        </td>
        <td>
            <% @item.discs.each do |dis| %>
                <%= dis.number %>
            <% end %>
    </tbody>
</table>