ITEM SHOW
<table>
<thead>
        <tr>
  
            <th width="100px">cdname</th>
            <th width="100px">stock</th>
            <th width="100px">price</th>
            <th width="100px">genrer</th>
            <th width="100px">artist</th>
            <th width="100px">label</th>
        </tr>
    </thead>
    <tbody>

        <tr>
        <td>
            <%= @item.attachment_field :jacket_image %> 

        <td>
            <%= @item.cd_name %>
        </td>
        <td>
            <%= @item.stock %>
        </td>
        <td>
            <%= @item.price %>
        </td>
        <td>
            <%= @item.genre.genre %>
        </td>
        <td>
            <%= @item.artist.artist %>
        </td>
        <td>
            <%= @item.label.label %>
        </td>
    </tbody>
</table>