<!-- ヘッダー -->
<% if user_signed_in? && current_user.admin %>
    <%= render 'template/admin_header' %>
<% elsif user_signed_in? %>
    <%= render 'template/user_header' %>
<% else %>
    <%= render 'template/visiter_header' %>
<% end %>

<div class="container big-box">
    <div class="row box2">
        <div class="col-xs-12 col-lg-4">
            <div class="item">
            <%= attachment_image_tag @item, :jacket_image, format: 'jpeg', fallback: "no_image.jpg", size:'300x300', class: "img-rounded img-thumbnail" %>
            </div>
        </div>
        <div class="col-xs-12 col-lg-5">
            <ul class="list-group">
                <li class="list-group-item cleat-fix">
                    CD:<%= @item.cd_name %>
                    <!-- いいね機能 -->
                    <% if @item.favorited_by?(current_user) %>
                        <%= link_to item_favorites_path(@item.id), method: :delete do %>
                          <span class="glyphicon glyphicon-heart" aria-hidden="true" style="color: red;font-size: 25px; float: right"></span>
                        <% end %>
                    <% else %>
                        <%= link_to item_favorites_path(@item.id), method: :post do %>
                          <span class="glyphicon glyphicon-heart-empty" aria-hidden="true"  style="font-size: 25px; float: right"></span>
                        <% end %>
                    <% end %>
                </li>
                <li class="list-group-item">
                    アーティスト：<%= @item.artist.artist %>
                </li>
                <li class="list-group-item">
                    ジャンル：<%= @item.genre.genre %>
                </li>
            </ul>

            <div class="genre2">
                <span>
                送料は全国均一500円かかります。<br>発送までの目安：当日～翌日<br>※発送されてからお届けまでの日数は、地域により異なります<br>※セブン-イレブン受け取りサービスをご利用される場合、配送に3～4日かかります
                </span>
            </div>
        </div>
        <div class="col-xs-12 col-lg-3">
            <div class="productDetail">
                <h6><b>価格(税込)</b></h6>
                <h2 class="text-right">¥<%= (@item.price * 1.08).ceil %></h2>
                <% if @item.stock > 0 %>
                    <h4 class="item">取扱中</h4>
                    <% else %>
                    <h4 class="item">取扱なし</h4>
                <% end %>
                <div class="item">
                    <button class="btn btn-danger"><span class="glyphicon glyphicon-shopping-cart">カートに入れる</span></button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">

        <h3>収録曲</h3>
        <div class="col-xs-12 col-lg-12">
            <% @discs.each do |dis| %>
                <% dis.songs.each do |song| %>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th><%= "ディスク#{song.disc.number}" %></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><%= song.song %></td>
                            </tr>
                        </tbody>
                    </table>
                <% end %>
            <% end %>
        </div>

        <h3>この商品に対するレビュー</h3>
        <div class="col-xs-12 col-lg-12">
            <table class="table table-striped">
                <% @item.reviews.each do |review| %>
                    <thead>
                        <tr>
                            <th>評価</th>
                            <th>コメント</th>
                            <th>投稿者</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><%= review.review_star %></td>
                            <td><%= review.review_comment %></td>
                            <td><%= review.user.last_name %><%= review.user.first_name %></td>
                        </tr>
                    </tbody>
                <% end %>
            </table>
<<<<<<< HEAD
            <%= link_to "レビューを追加", new_item_review_path(@item.id), class: "btn btn-default button-right" %>
=======
            <% end %>
<<<<<<< HEAD

            <%= form_for([@item, @cart_item], url:"/add_item/#{@item.id}") do |f| %>
                <%= f.number_field :quantity %>
                <%= f.submit "カートに追加" %>
            <% end %>
=======
>>>>>>> master
>>>>>>> kashiwagi
        </div>
    </div>
</div>

<!-- フッター -->
<%= render 'template/footer' %>