<!-- ヘッダー -->
<% if user_signed_in? && current_user.admin %>
    <%= render 'template/admin_header' %>
<% elsif user_signed_in? %>
    <%= render 'template/user_header' %>
<% else %>
    <%= render 'template/visiter_header' %>
<% end %>

<div class="container">

	<h2>New Review</h2>
	<%= form_for [@item, @review] do |f| %>
		<%= f.hidden_field :item_id, value: @item.id %>
	    <div class="field" id="star">
	        <%= f.label :review_star %>
	        <%= f.hidden_field :review_star, id: :review_review_star %>
	    </div>
		<div class="field row">
			<label>コメント</label><br>
			<%= f.text_field :review_comment, class: "max-width-input  review-field" %>
	    </div>
	    <div class="field row">
	    	<%= f.submit 'Create Review', class: "btn btn-default button-right" %>
	    </div>
	<% end %>

</div>


<!-- フッター -->
<%= render 'template/footer' %>


<script>
$('#star').raty({

  size     : 36,
  starOff:  "/assets/star-off.png",
  starOn : "/assets/star-on.png",
  scoreName: 'review[review_star]'
});
</script>
