<!DOCTYPE html>
<html>
  <head>
    <title>Abr Disk</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>


<div class="header-space">

</div>
<!-- フラッシュメッセージの表示 -->
    <div class="container">
      <div class="row">
        <% if flash[:notice] %>
          <div id="notice">
            <%= flash[:notice] %>
          </div>
        <% end %>
      </div>
    </div>

    <%= yield %>
  </body>
</html>
