<!DOCTYPE html>
<html>
  <head>
    <title>Abr Disk</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- jpostalのCDN導入 -->
    <script type="text/javascript" src="//code.jquery.com/jquery-2.1.0.min.js"></script>
    <script type="text/javascript" src="//jpostal-1006.appspot.com/jquery.jpostal.js"></script>

  </head>

  <body>

<!-- フラッシュメッセージの表示 -->
    <div class="container">
      <div class="row">
        <% if flash[:notice] %>
          <div id="notice">
            <%= flash[:notice] %>
          </div>
        <% end %>
      </div>
    </div>

    <%= yield %>
    <script>
        $(window).ready( function() {
          $('#postcode1').jpostal({
            postcode : [
              '#address_postcode',
            ],
            address : {
              '#address_prefecture'  : '%3',
              '#address_city'  : '%4%5',
            }
          });
        });
    </script>
  </body>
</html>
