<!DOCTYPE html>
<html>
  <head>
    <title>Abr Disk</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- jpostalのCDN導入 -->
    <script type="text/javascript" src="//code.jquery.com/jquery-2.1.0.min.js"></script>
    <script type="text/javascript" src="//jpostal-1006.appspot.com/jquery.jpostal.js"></script>

  </head>

  <body>
    <%= yield %>
    <script>
        $(window).ready( function() {
          $('#postcode1').jpostal({
            postcode : [
              '#address_postcode',
            ],
            address : {
              '#address_prefecture'  : '%3',
              '#address_city'  : '%4%5',
            }
          });
        });
    </script>
  </body>
</html>
